In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/student_data.csv")

In [ ]:
score_of_english=df[(df['English_Lit']<30)]
score_of_english

,StudentID,Name,Day 1,Day 2,Day 3,Day 4,Day 5,English_Lit,Science,Maths,Geography,Spanish,French
0,1,Student 1,Present,Present,Absent,Absent,Present,28,31,34,46,34,31
2,3,Student 3,Absent,Absent,Present,Present,Present,24,17,16,32,20,31
6,7,Student 7,Present,Absent,Present,Absent,Present,18,35,35,48,30,46
7,8,Student 8,Absent,Present,Present,Absent,Absent,20,19,20,44,39,27
9,10,Student 10,Present,Present,Absent,Present,Present,23,21,31,28,50,47
14,15,Student 15,Present,Present,Present,Absent,Present,16,27,44,47,33,49
15,16,Student 16,Absent,Present,Absent,Present,Absent,20,28,18,50,46,45
16,17,Student 17,Absent,Absent,Present,Absent,Absent,26,26,48,50,27,36
17,18,Student 18,Absent,Present,Present,Absent,Present,26,27,19,24,19,16
22,23,Student 23,Present,Absent,Absent,Present,Absent,17,25,16,31,38,36
23,24,Student 24,Present,Present,Absent,Present,Absent,24,32,35,38,33,23
24,25,Student 25,Absent,Absent,Absent,Present,Absent,17,18,35,44,17,19
28,29,Student 29,Present,Absent,Absent,Present,Present,16,47,26,48,23,31
31,32,Student 32,Present,Absent,Absent,Present,Absent,27,31,49,27,37,32
32,33,Student 33,Present,Present,Present,Absent,Absent,15,37,21,28,15,26
33,34,Student 34,Present,Present,Absent,Present,Absent,22,23,46,44,41,37
35,36,Student 36,Present,Absent,Absent,Present,Absent,22,27,32,25,35,38
36,37,Student 37,Absent,Absent,Present,Absent,Present,18,19,27,45,22,15
37,38,Student 38,Absent,Present,Present,Absent,Present,19,39,40,45,37,31
40,41,Student 41,Present,Absent,Present,Absent,Present,17,40,23,23,41,34
48,49,Student 49,Present,Present,Present,Absent,Absent,18,40,38,27,40,20
49,50,Student 50,Absent,Present,Present,Absent,Present,17,21,17,27,38,38

In [ ]:
English_subject_sum=df['English_Lit'].sum()
print("Sum of English Literature",English_subject_sum)

Sum of English Literature 1576

In [ ]:
highest_score_spanish=df['Spanish'].max()
highest_scorer_spanish=df[df['Spanish']==highest_score_spanish]
for index,row in highest_scorer_spanish.iterrows():
  print('highest score in Spanish : ',highest_score_spanish)
  print('Student name : ',row['Name'])

highest score in Spanish :  50
Student name :  Student 10

In [ ]:
df.replace({"Present": 0, "Absent": 1}, inplace=True)
df['TotalAbsences'] = df[['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']].sum(axis=1)
name = df[df['TotalAbsences'] == df['TotalAbsences'].max()]
studentmaxabsences = name['Name'].iloc[0]
print("Student with the lowest attendance:", studentmaxabsences)

Student with the lowest attendance: Student 2

In [ ]:
frenchmeanscore=df["French"].mean()
print("Mean french score is : ",frenchmeanscore)

Mean french score is :  31.68

In [ ]:
scmeanscore=df["Science"].mode()
print("Mode of Science is : ",scmeanscore)

Mode of Science is :  0    19
1    27
2    29
3    31
4    40
Name: Science, dtype: int64

In [ ]:
df.replace({"Present": 1, "Absent": 0}, inplace=True)
present_counts= df[['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']].sum()
highestdaypresent = present_counts.idxmax()
highestdaypresentcount = present_counts.max()

print("Day with the highest number of 'Present' entries:", highestdaypresent)

Day with the highest number of 'Present' entries: Day 3

In [ ]:
df.replace({"Present": 1, "Absent": 0}, inplace=True)
absent_counts= df[['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']].sum()
highestdayabsent = absent_counts.idxmin()
highestdayabsentcount = absent_counts.min()

print("Day with the highest number of Absent entries:", highestdayabsent)

Day with the highest number of Absent entries: Day 1

In [ ]:
df['Total_Maths_Science_Score'] = df['Maths'] + df['Science']
highestscore = df[df['Total_Maths_Science_Score'] == df['Total_Maths_Science_Score'].max()]
studentname = highestscore['Name'].iloc[0]
print("Student with the highest total score in Maths and Science:", studentname)

Student with the highest total score in Maths and Science: Student 44

In [ ]:
df['TotalScore'] = df[['English_Lit', 'Science', 'Maths', 'Geography', 'Spanish', 'French']].sum(axis=1)
lowestscore = df[df['TotalScore'] == df['TotalScore'].min()]
lowestscorestudentname = lowestscore['Name'].iloc[0]
print("Student with the lowest total score across all subjects:", lowestscorestudentname)

Student with the lowest total score across all subjects: Student 18

In [ ]:
df.replace({"Present": 1, "Absent": 0}, inplace=True)
df['Total_Absent_Days'] = 5 - df[['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']].sum(axis=1)
absent2 = df[df['Total_Absent_Days'] == 2].shape[0]
print("Number of students absent for 2 days:", absent2)

Number of students absent for 2 days: 12

In [ ]:
df.replace({"Present": 1, "Absent": 0}, inplace=True)
df['Total_Present_Days'] = df[['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']].sum(axis=1)
present4 = df[df['Total_Present_Days'] == 4].shape[0]
print("Number of students present for 4 days:", present4)

Number of students present for 4 days: 10

In [ ]:
df['Total_Score'] = df[['English_Lit', 'Science', 'Maths', 'Geography', 'Spanish', 'French']].sum(axis=1)
present25 = df[df['Total_Score'] > 25].shape[0]
print("Number of students with a total score greater than 25:", present25)

Number of students with a total score greater than 25: 50

In [ ]:
df['Total_Score'] = df[['English_Lit', 'Science', 'Maths', 'Geography', 'Spanish', 'French']].sum(axis=1)
present30 = df[df['Total_Score'] > 30].shape[0]
print("Number of students with a total score greater than 30:", present30)

Number of students with a total score greater than 30: 50